@tailwind base;
@tailwind components;
@tailwind utilities;

.home-hero-img {
  width: 100%;
  height: 664px;
  background-image: url('https://www.swevextech.com/static/media/home-hero-img.978cfc215255eb74d1eb.svg');
  /* background-position: 50%; */
  background-repeat: no-repeat;
  background-size: cover;
}
.borde{
  width: 390px;
  border: 1px black solid;
  border-radius: 10px;

}
.borde:hover{
  background-color: rgb(217, 217, 222);
}